/* common-CSS-Here */
body {
    font-family: 'Lato', sans-serif;
}

/* header section design start */
.header-design {

    background-color: #E554731A;
    display: flex;
}

.image-redesign{
    width: 635px;
    height: 800px;
    margin-right: 100px;
}

.heading-paragraph {
    width: 600px;
    height: auto;
    position: relative;
    margin-top: 28px;
    margin-left: 50px;
}

 p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

header h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 700;

}

.btn-design {
    border-radius: 8px;
    background: #E55473;
    color: #ffff;
    border: 0;
    padding: 18px 40px;
    font-weight: 800;
}

/* header section design End */

/* Main sections written part start*/
.bonus-section {
    text-align: center;
    width: 500px;
    height: auto;
    margin: auto;
}
/* This is for all heading */
.header-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}


/* .bonus-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
} */

/* Main sections written part End*/

/* Main sections flowers part start*/
.all-flowers {
    display: flex;
    width: 1440px;
    margin: auto;

}

.flower-trees {
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;

}

.flower-one {}

.Same-property {
    text-align: center;
}

/* Services Section Start*/
.services {
    text-align: center;
    display: flex;
    width: 1440px;
    height: 320px;
    margin: auto;
    background-color: #2727270D;

}

.services div {
    margin: auto;
}

/* Services Section End*/

/* Hot deal section start */
.hot-deal {
    background-color: #E554730D;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}

.off {
    color: #E55473;
}

.hot-deal-heading {
    width: 594px;
    height: auto;
    text-align: center;
    margin-top: 150px;
}

/* .hot-deal-heading h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

} */

/* .hot-deal-heading p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
} */

/* instagram and flowers section */
.flower-for-instagram{
    display: flex;
    width: 1440px;
    margin: auto;
}
.flower-for-instagram img{
    margin-right: 24px;
    margin-top: 25px;
}
/* Get the latest Deals Section */
.latest-deals{
    width: 1440px;
    height:449px;
    margin:50px auto;
    background-image: url('Flower Asset/Rectangle\ 9.png');
    text-align: center;
  position: relative;
   

}
.subscribes{
    position:absolute;
   margin-top: 150px;
   margin-left: 400px;
    color: rgb(48, 30, 94);
  
}
input[type=text]{
    margin: 18px 4px;
    padding: 18px 8px;
    width: 500px;
    border: none;
}
/* footer Section */
.footer{
    background-color: #111010;
    height: 449px;
   width: auto;
    
}

.footer-test{
    color: white;
    text-align: center;
    width: 400px;
    line-height: 20px;
    position: absolute;
    margin: 170px 560px;
}